.likes:hover, .likes-active{
    background-color: aqua;
}

.dislikes:hover, .dislikes-active{
    background-color: rgb(248, 115, 62);
}

.container-onePost{
    display: flex;
    margin: 35px;
    flex-direction: row;
    justify-content: center;
}
.container-post{
    margin-bottom: 0px;
}
.post-body{
    border: 1px solid black;
    padding: 10px;
    height: 9rem;
}
.container-likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side{
    display: flex;
    width: 50rem;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(56, 197, 253);
}

.container-all-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    height: 15rem;
    padding: 5px;
    margin-top: 3px;
}

.new-comment-area{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.post-title{
    display: flex;
    justify-content: center;
}

.delete-post-btn{
    margin: 5px;
}