.likes:hover, .likes-active{
    background-color: aqua;
}

.dislikes:hover, .dislikes-active{
    background-color: rgb(248, 115, 62);
}

.container-onePost{
    display: flex;
    margin: 35px;
    flex-direction: row;
    justify-content: center;
}
.container-post{
    margin-bottom: 0px;
}
.post-body{
    padding: 10px;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.container-likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side{
    display: flex;
    width: 50rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #FD2D01;
    border-radius: 15px;
}

.container-all-comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    height: 30rem;
    padding: 5px;
    margin-top: 3px;
    overflow-y: scroll;
}

.new-comment-area{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.post-title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.delete-post-btn{
    margin: 5px;
}

.username{
    font-weight: bold;
    font-size: 13px;
}
.one_comment{
    border-bottom: 1px solid;
}

@media (max-width : 768px){
    .container-onePost{
        display: flex;
        flex-direction: column;
    }
    .left-side{
        width: 100%;
    }
    .container-all-comments{
        height: 15rem;
    }
} 